# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data volumes
postgres_data/
prometheus_data/
grafana_data/
loki_data/
frontend/nginx-local.conf
frontend/nginx-local.conf
